<launch>

  <arg name="node_name" default="gnss_heading"/>
  <arg name="param_path" default="$(find vitulus_gnss)/config/ardusimple_heading.yaml" />
  <arg name="output" default="screen" />
  <arg name="respawn" default="true" />
  <arg name="respawn_delay" default="10" />
  <arg name="clear_params" default="true" />

  <node pkg="ublox_gps" type="ublox_gps" name="$(arg node_name)"
        output="$(arg output)"
        clear_params="$(arg clear_params)"
        respawn="$(arg respawn)"
        respawn_delay="$(arg respawn_delay)">
    <rosparam command="load" file="$(arg param_path)" />
  </node>

<!--  <node pkg="tf" type="static_transform_publisher" name="base_gnss" args="-0.160 -0.21 0.3 -1.5707963 0 0 /base_link /gnss 1"/>-->



</launch>
